<h1>Arbitrage Opportunities</h1>

Search Table: <input ng-model="query">

<table ng-controller="ArbitrageCtrl" class="table table-striped table-hover">
	<thead>
		<th>Buy at</th>
		<th>Sell at</th>
		<th>Pair</th>
		<th>Quantity</th>
		<th>Highest Bid</th>
		<th>Lowest Ask</th>
		<th>Profit</th>
	</thead>
	<tbody>
		<tr ng-repeat="arbitrage in arbitrages | filter:query">
			<td>{{arbitrage.buy_exchange|capitalize}}</td>
			<td>{{arbitrage.sell_exchange|capitalize}}</td>
			<td>{{arbitrage.primary}}/{{arbitrage.secondary}}</td>
			<td>{{arbitrage.quantity}}</td>
			<td>{{arbitrage.highest_bid}}</td>
			<td>{{arbitrage.lowest_ask}}</td>
			<td>{{+arbitrage.profit.toFixed(8)}}</td>
		</tr>
	</tbody>
</table>