<h1>Coinpairs</h1>

<table ng-controller="CoinpairsCtrl">
	<thead>
		<th>Primary</th>
		<th>Secondary</th>
		<th>Last Trade</th>
		<th>Volume</th>
		<th>Last Trade Time</th>
		<th>Stuff</th>
	</thead>
	<tbody>
		<tr ng-repeat="coinpair in coinpairs">
			<td>{{coinpair.primary}}</td>
			<td>{{coinpair.secondary}}</td>
			<td>{{coinpair.last_trade}}</td>
			<td>{{coinpair.volume}}</td>
			<td>{{coinpair.last_trade_time}}</td>
		</tr>
	</tbody>
</table>