<!DOCTYPE html>
<html ng-app="Decryptsy">
<head>
  <title>AngularDecryptsy</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
